table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
    padding-right: 10%;
  }

  .spacer {
    flex: 1;
  }

  .service-type-select {
    height: 30px;
    width: 95%;
    font-size: 13px;
    border: none;
  }

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  