<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Automobile Maintenance Tracker</span>
  
    <span class="spacer"></span>
      
    <button routerLink="/vehicles" routerLinkActive="active" mat-button>Vehicles</button>
    <button routerLink="/services" routerLinkActive="active" mat-button>Service Providers</button>
    <button routerLink="/providers" routerLinkActive="active" mat-button>Services</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>