table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
    padding-right: 10%;
  }

  .spacer {
    flex: 1;
  }

  .vehicle-type-select {
    height: 30px;
    width: 100%;
    font-size: 13px;
    border: none;
  }